$BlueAccent: #cde7ff;
$BlueDarkAccent: #9ed0ff;


.dialog {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    place-content: center;   
    z-index: 100;

    .dialog-wrapper {
        position: relative;
    
        .dialog-shadow {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: gray;
            opacity: 0.4;
            z-index: 2;
        }
        
        .dialog-closeBtn {
            position: absolute;
            right: -20px;
            top: -20px;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            place-content: center;
            cursor: pointer;
            z-index: 3;
            font-size: x-large;
            opacity: 0.2;
            &:hover {
                opacity: 1;
            }
        }

        .dialog-overlay {
            position:relative;
            margin: auto;
            z-index: 2;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            border-radius: 5px;
            background-color: whitesmoke;
            padding: 20px;
            overflow: scroll;
            // overflow-x: hidden;
            
            width: min-content;
            min-width: 200px;
            
            height: min-content;
            max-height: 80vh;
            min-height: 100px;

            .dialog-title {
                width: 100%;
                font-size: 1.1em;
                cursor: default;
                font-weight: bold;
                text-align: center;
                background-color: inherit;
                border: none;
                height: 20px;
                outline: none;
            } 
        }
        


    }
}
